.image {
    background-color: var(--secondary-color);
}

.carousel-container {
    margin-top: 170px;
    background-color: rgba(3, 7, 33, 0.863);
}

.review-float {
    background-color: var(--secondary-color);
    width: 200px;
    height: 10px;
    margin-bottom: 16px;
}

.heading-review {
    border-bottom: 4px solid var(--primary-color);
}

.img {
    margin-left: 70px;
}

blockquote::after {
    content: open-quote;
    font-size: 40px;
}

blockquote::before {
    content: open-quote;
    font-size: 40px;
}