.blogpost-container {
    margin-top: 220px;
}

.blogpost {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width:768px) {
    .blogpost {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:992px) {
    .blogpost {
        grid-template-columns: repeat(3, 1fr);
    }
}