.products {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

@media(min-width:768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:992px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}